* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    background-color: gainsboro;
}
.block {
    padding: 64px 80px 64px 47px;
}
.card {
    background-color: #fff;
    position: absolute;
    max-width: 1009px;
    width: 100%;
    left: 50%;
    margin-left: -505px;
    margin-top: 123px;
}
.beats_img {
    max-width: 376px;
    width: 100%;
    float: left;
    margin-right: 99px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button {
    background-color: coral;
    border: none;
    padding: 16px 39px 16px 39px;
    cursor: pointer;
    color: #fff;
}
.title {
    font-size: 22px;
    font-style: bold;
}
.text {
    margin-top: 31px;
    margin-bottom: 18px;
}
.Gprice {
    margin-top: 18px;
    margin-bottom: 36px;
    font-weight: none;
}